.button {
  background-color: var(--color-accent);
  border-radius: var(--button-border-radius);
  color: var(--color-button-text);
  border: 0;
  font-weight: 500;
  font-size: var(--size15);
  padding: var(--button-padding);
  font-family: var(--main-font);

  &:hover {
    background: var(--color--hover-accent);
    cursor: pointer;
  }
}

.left {
  width: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: var(--size1);
}

.right {
  width: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: var(--size1);
}
