.wrapper {
  width: 100%;
  background-color: var(--color-box);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  border-bottom: 4px solid var(--color-accent);

  .AppMenu {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 var(--size20);

    @media (min-width: 768px) {
      width: 46.25rem;
      padding: 0;

      li:hover {
        box-shadow: 0px 2px 0px 0px var(--color-accent);
        transition: box-shadow 0.3s ease;

        a,
        button {
          color: var(--color-accent);
        }
      }
    }

    .logo {
      font-size: var(--size24);
      font-weight: 700;
      text-decoration: none;
      color: var(--color-menu-text);
      line-height: var(--size20);

      @media (min-width: 768px) {
        &:hover {
          box-shadow: 0px 3px 0px 0px var(--color-accent);
          transition: box-shadow 0.3s ease;
        }
      }
    }

    .hamburger {
      margin: 0;
      margin-left: auto;
      border: 0;
      background: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: var(--size30);

      @media (min-width: 768px) {
        display: none;
      }

      .lines {
        position: absolute;
        margin: 0;
        background: transparent;
        display: inline-block;
        width: 25px;
        height: 3px;
        background-color: var(--color-menu-text);
        transition: top 0.3s 0.1s ease, transform 0.3s ease;

        &:first-child {
          top: var(--size23);
        }
        &:last-child {
          top: var(--size35);
        }
      }
    }
    .cross {
      transform: rotate3d(0, 0, 1, 90deg);

      .lines {
        transition: top 0.3s ease, transform 0.3s 0.1s ease;
      }

      .lines:first-child {
        transform: rotate3d(0, 0, 1, -45deg);
        top: var(--size30);
      }

      .lines:last-child {
        transform: rotate3d(0, 0, 1, 45deg);
        top: var(--size30);
      }
    }
  }
}
