.selectWrapper {
  position: relative;
  width: 100%;
  margin-bottom: var(--size70);

  .absoluteWrapper {
    position: absolute;
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }

    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;

      span {
        display: inline;
        width: 0;
        height: 0;
        top: 50%;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid white;
      }
    }

    .list {
      width: 100%;
      display: none;
      top: 0;
      position: relative;
      counter-reset: labels;
      background: white;
      list-style-type: none;
      margin: 0;
      padding: 0;
      border-bottom-left-radius: var(--button-border-radius);
      border-bottom-right-radius: var(--button-border-radius);
      z-index: 2;

      button {
        background: none;
        border: none;
        font-family: var(--main-font);
        color: white;
        font-weight: 500;
        font-size: var(--size15);
        text-align: left;
        width: 100%;
        height: 100%;
        padding: var(--size10) var(--size20);

        &:hover {
          cursor: pointer;
        }
      }

      li {
        background: var(--color-button);
        margin: 0;
        width: 100%;
        height: 100%;
      }

      li:last-child {
        padding-bottom: var(--size5);
        border-bottom-left-radius: var(--button-border-radius);
        border-bottom-right-radius: var(--button-border-radius);
      }

      li:hover {
        opacity: 0.8;
      }
    }

    .show {
      position: relative;
      button {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        span {
          transform: rotate(180deg);
        }
      }
    }

    ul.show {
      display: inline-block;
    }

    label {
      cursor: pointer;
      color: white;
      font-weight: 500;
      margin: 0;
    }
  }
}
