.menuWrapper {
  display: grid;
  gap: var(--size20);
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    column-gap: var(--size70);
    row-gap: var(--size35);
    grid-template-columns: repeat(2, 1fr);
  }

  .recipeRow {
    min-height: var(--size100);
  }
}
