* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: linear-gradient(180deg, #424256 0%, #000000 100%),
    url('/images/background.webp');
  background-blend-mode: lighten;
  background-size: cover;
  background-attachment: fixed;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

:root {
  --size1: 0.0625rem;
  --size4: 0.25rem;
  --size8: 0.5rem;
  --size10: 0.625rem;
  --size15: 0.9375rem;
  --size17: 1.0625rem;
  --size20: 1.25rem;
  --size23: 1.4375rem;
  --size24: 1.5rem;
  --size25: 1.5625rem;
  --size30: 1.875rem;
  --size35: 2.1875rem;
  --size40: 2.5rem;
  --size45: 2.8125rem;
  --size50: 3.125rem;
  --size60: 3.75rem;
  --size70: 4.375rem;

  --main-padding: var(--size20);
  --box-padding: var(--size20);
  --button-padding: var(--size10) var(--size20);

  @media (min-width: 768px) {
    --main-padding: var(--size70);
  }

  --box-border-radius: var(--size40);
  --button-border-radius: var(--size40);
  --input-border-radius: var(--size40);

  --box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  --button-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

  --color-heading1: #ffffff;
  --color-misc-heading: #33333e;
  --color-text: #555555;
  --color-line: #ecedf6;
  --color-input-background: #e8e9f4;
  --color-input-background-focus: #c5c8d8;
  --color-button-text: #ffffff;
  --color-menu-text: #33333e;
  --color-box: #ffffff;
  --color-icons: #33333e;
  --color-accent: #9c5e9a;
  --color--hover-accent: rgba(0, 0, 0, 0.3);
  --color-button: linear-gradient(264.92deg, #5668a8 -29.14%, #9c5e9a 121.1%);
  --color-button-right: linear-gradient(
    84.92deg,
    #5668a8 -29.14%,
    #9c5e9a 121.1%
  );

  --main-font: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  margin: 0 0 var(--size35);
  font-size: var(--size30);
  color: var(--color-heading1);

  @media (min-width: 768px) {
    margin: 0 0 var(--size70);
  }
}

h2 {
  margin: 0 var(--size15) var(--size10);
  font-size: var(--size20);
  color: var(--color-misc-heading);
}

h3 {
  margin: 0 var(--size15);
  font-size: var(--size15);
  color: var(--color-misc-heading);
}

li,
p {
  margin: 0 0 var(--size20) 0;
  font-size: var(--size15);
  font-weight: 400;
  color: var(--color-text);
}

a {
  color: var(--color-menu-text);
  font-size: var(--size15);

  &:hover {
    color: var(--color-accent);
  }
}

label {
  font-weight: 700;
  display: flex;
  margin-left: var(--size15);
  font-size: var(--size15);
  color: var(--color-misc-heading);
}

input,
textarea {
  border-radius: var(--input-border-radius);
  padding: var(--size10);
  background-color: var(--color-input-background);
  border: 0;
  font-family: var(--main-font);
  font-size: var(--size16);

  &:focus {
    outline: 0;
    background-color: var(--color-input-background-focus);
  }
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

span {
  display: block;
  font-size: var(--size15);
  margin-left: var(--size15);
}

.buttonWrapper {
  display: flex;
}

.row {
  &:not(:last-child),
  div:not(:last-child) {
    margin-bottom: var(--size20);
  }

  div:not(:last-child) {
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    display: grid;
    gap: var(--size20);
    grid-template-columns: repeat(2, 1fr);

    label {
      width: 100%;
    }
  }
}

select {
  background: var(--color-button);
  border-radius: var(--button-border-radius);
  color: var(--color-button-text);
  border: 0;
  font-weight: 500;
  font-size: var(--size15);
  padding: var(--button-padding);
  font-family: var(--main-font);
  box-shadow: var(--button-shadow);
  cursor: pointer;

  option {
    background: var(--color-accent);
  }
}
