* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: linear-gradient(180deg, #424256 0%, #000000 100%), url('/images/background.webp');
  background-blend-mode: lighten;
  background-size: cover;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --size10: 0.625rem;
  --size15: 0.9375rem;
  --size17: 1.0625rem;
  --size20: 1.25rem;
  --size24: 1.5rem;
  --size30: 1.875rem;
  --size35: 2.1875rem;
  --size40: 2.5rem;
  --size45: 2.8125rem;
  --size50: 3.125rem;
  --size70: 4.375rem;

  --main-padding: var(--size20);
  --div-padding: var(--size20);

  @media (min-width: 768px) {
    --main-padding: var(--size70);
  }

  --div-border-radius: var(--size40);

  --div-shadow: box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

  --color-heading: #ffffff;
  --color-text: #555555;
  --color-line: #ecedf6;
  --color-input-background: #E8E9F4;
  --color-button-text: #33333E;
  --color-menu-text: #33333E;
  --color-div: #FFFFFF;
  --color-icons: #33333E;

  --main-font: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--color-heading);
}

h1 {
  margin: 0 0 var(--size35);
  font-size: var(--size30);

  @media (min-width: 768px) {
    margin: 0 0 var(--size70);
    font-size: var(--size50);
  }
}

h2 {
  margin: 0 var(--size20);
  font-size: var(--size17);

  @media (min-width: 768px) {
    font-size: var(--size24);
  }
}

h3 {
  margin: 0 var(--size20);
  font-size: var(--size15);

  @media (min-width: 768px) {
    font-size: var(--size17);
  }
}

li,
p {
  margin: 0;
  font-size: var(--size15);
  font-weight: 400;
  color: var(--color-text);
}
