* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    background: linear-gradient(180deg, #FFFFFF 0%, #E0E1EB 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --size10: 0.625rem;
  --size15: 0.9375rem;
  --size17: 1.0625rem;
  --size22: 1.375rem;
  --size20: 1.25rem;
  --size25: 1.5625rem;
  --size30: 1.875rem;
  --size35: 2.1875rem;
  --size40: 2.5rem;
  --size45: 2.8125rem;

  --element-padding: var(--size20);

  --box-border-radius: var(--size40);

  --box-shadow: box-shadow: 5px 5px 30px rgba(119, 119, 119, 0.2);

  --color-pink: #f4aecd;
  --color-blue: #57ebf9;
  --color-heading: #343e40;
  --color-text: #6a6a74;
  --color-line: #ecedf6;
  --color-input-background: #f6f6f9;

  --main-font: 'Poppins', sans-serif;
}

h1,
h2 {
  font-weight: 700;
  color: var(--color-heading);
}

h1 {
  margin: 0 0 var(--size35);
  font-size: var(--size30);
  line-height: var(--size45);
}

h2 {
  margin: 0 var(--size20);
  font-size: var(--size17);
  line-height: var(--size25);
}

li,
p {
  margin: 0;
  font-size: var(--size15);
  font-weight: 400;
  color: var(--color-text);
  line-height: var(--size22);
}
