.spinnerWrapper {
  margin: auto;
  margin-top: var(--size100);

  @media (min-width: 768px) {
    margin-top: var(--size335);
  }

  .spinnerCircle {
    width: var(--size50);
    height: var(--size50);
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-left: 4px solid rgba(255, 255, 255, 1);
    border-right: 4px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    animation: spinning 1s infinite linear;
  }

  @keyframes spinning {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
