.loginHeader {
  align-self: center;
}

.error {
  color: red;
  font-size: var(--size15);
}

.register {
  padding-bottom: var(--size20);

  p {
    margin-bottom: 0;
  }

  a {
    color: var(--color-menu-text);
  }

  a:hover {
    color: var(--color-accent);
  }
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--size20);

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--size20);

    input {
      border-radius: var(--input-border-radius);
      padding: var(--size10);
      background-color: var(--color-input-background);
      border: 0;
      font-family: var(--main-font);
      font-size: var(--size15);

      &:focus {
        outline: 0;
        background-color: var(--color-input-background-focus);
      }
    }
  }
}

.loginOptionsWrapper {
  display: flex;
  width: 100%;
}

.span {
  margin-bottom: var(--size20);
  align-self: center;
}
