.heading {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

.register {
  padding-bottom: var(--size20);
  padding-left: var(--size15);

  p {
    margin-bottom: 0;
  }
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--size20);

  div:not(:nth-child(2)) {
    margin-bottom: var(--size20);
  }

  span {
    margin-bottom: var(--size20);
  }

  .forgotPassword {
    padding-left: var(--size15);

    p {
      margin-bottom: 0;
    }
  }
}

.span {
  margin-bottom: var(--size20);
  align-self: center;
}
