.main {
  display: flex;
  flex-direction: column;
  padding: var(--size35) var(--main-padding);
  width: 100%;

  @media (min-width: 768px) {
    align-items: flex-start;
    width: 46.25rem;
    padding: var(--main-padding) 0;

    > div {
      align-self: center;
    }
  }
}
