.heading {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  margin: 0 var(--size15);
}

.registerForm {
  width: 100%;
  display: flex;
  flex-direction: column;

  div:not(:last-child) {
    margin-bottom: var(--size20);
  }

  .badRequestSpan {
    margin-bottom: var(--size20);
  }
}

.registered {
  margin-left: var(--size15);
}
