.registerHeading {
  align-self: center;
}

.error {
  color: red;
}

.registerForm {
  width: 100%;
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--size20);

    input {
      border-radius: var(--input-border-radius);
      padding: var(--size10);
      background-color: var(--color-input-background);
      border: 0;
      font-family: var(--main-font);
      font-size: var(--size15);

      &:focus {
        outline: 0;
        background-color: var(--color-input-background-focus);
      }
    }
  }

  .buttonWrapper {
    display: flex;
  }
}
