.recipesWrapper {
  display: grid;
  gap: var(--size20);
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    column-gap: var(--size70);
    row-gap: var(--size35);
    grid-template-columns: repeat(2, 1fr);
  }

  .recipeRow {
    display: flex;
    justify-content: space-between;
    min-height: var(--size70);

    button {
      margin-bottom: auto;
      margin-left: auto;
      padding: 0;
      background: none;
      border: none;
    }

    svg {
      margin-left: var(--size20);
      min-width: var(--size25);

      &:hover {
        cursor: pointer;

        path:first-child {
          fill: var(--color-accent);
        }
      }
    }
  }

  .error {
    color: red;
    font-weight: 600;
  }
}
