.recipesWrapper {
  display: grid;
  gap: var(--size20);
  grid-template-columns: 1fr;
  margin-top: var(--size35);

  @media (min-width: 768px) {
    gap: var(--size70);
    grid-template-columns: repeat(2, 1fr);
  }

  .recipeRow {
    display: flex;
    justify-content: space-between;
    min-height: var(--size100);

    svg {
      margin-left: var(--size20);
      min-width: var(--size25);

      &:hover {
        cursor: pointer;

        path:first-child {
          fill: var(--color-accent);
        }
      }
    }
  }
}
