.heading {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

.resetPasswordForm {
  width: 100%;
  display: flex;
  flex-direction: column;

  div:not(:last-child) {
    margin-bottom: var(--size20);
  }
}
